@CHARSET "UTF-8";

body {
	color : white;
	background-image: url("img/gradient_blue.png");
    background-repeat: repeat-x;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    text-align : center;
}
img {
    display:block;
    margin : 0 auto;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
img:hover {
	display:block;
    margin : 0 auto;
    opacity: 1;
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 500px) {
    body {
         color: red;
    }
}
@media only screen and (min-width : 501px) {
    body {
         color: yellow;
    }
}
@media only screen and (min-width : 801px) {
    body {
         color: white;
    }
}